server:
  port: 0

spring:
  application:
    name: config-service
  profiles:
    active: native # para sacar el archivo del PC
  cloud:
    config:
      server:
        native:
          search-locations: file:./config-data