server:
  port: 8090

spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:http://config-service:8888"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true


#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8180/realms/sisgr-realm

eureka:
  client:
    service-url:
      # IMPORTANTE: En K8s usa el nombre del servicio, no localhost
      defaultZone: http://eureka-service:8761/eureka/