spring:
  application:
    name: customer-service
  config:
    # Esto le dice que busque el Config Server en localhost y si falla, no se caiga (optional)
    import: "optional:configserver:http://localhost:8888/"