#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #EAEAD1;/*#a0c38d;*/
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px; /* Un ancho m치ximo m치s razonable */
  font-family: Sans-Serif;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
  font-family: Sans-Serif;
  margin-bottom: 1rem;

}

/* Estilos para los botones */
.button-style{
  background-color:#4E7D10; /* Verde */
  color: white;
  padding: 8px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  border-radius: 12px;
  cursor: pointer;
  filter: drop-shadow(0 0 10px #4E7D10);
}

/* Estilos para el formulario */
.form-container {
  background-color: #EAEAD1;
  color:#000000;
  padding: 0.5rem;
  width: auto;
  align-items: center;
}

/* Estilos para los campos del formulario */
.form-data label {
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  font-family: sans-serif;
}

.form-data {
  display: flexbox;
  flex-direction: column;
  align-items: center;
}

.input-style{
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #9CA3AF;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.title-input{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333333;
  font-family: Sans-Serif;
}

/*Page estilos para los contenedores de las p치ginas */
.pageForm-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

/* Estilo para la paginaci칩n */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


